body{
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    margin: 0;
}
.slider-half h1{
    font-size: 50px;;
}
header span{
    color: orange;
}
section{

    margin-bottom: 100px;
}
.flexible-container{
    display: flex;
}
.hero{
    
    background-image: url(img/top-banner.png);
    background-repeat: no-repeat;
}
.slider-half , .half-width{
    width: 45%;
    padding-left: 8%;
}
.slider-half img{
  width: 80%;
  margin-left: 10%;
  margin-top: 35px;
}
.slider-half a {
    text-decoration: none;
    background-image: linear-gradient(to left, tomato , orange);
    color: white;
    padding: 10px 40px;
    display: inline-block;
    border-radius: 5px;
    font-size: 15px;
    margin-top: 10px;
}
.Dream-Area{
    background-image: url(img/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
}
.slider-half p {
    padding-right: 115px;
}